<h1>Welcome to the Croatian Run Restaurants of Los Angeles Site</h1>
  <div class="row">

    <div class= "col-md-6 col-md-offset-3">

      List of <%= link_to 'Addresses', controller: 'addresses' %>. And from this page can add other addresses
      <br/><br/>
      List of <%= link_to 'People', controller: 'people' %>
      <br/><br/>
      List of <%= link_to 'References, Sources, and Inspirations', controller: 'acknowledgements' %>
      <br/><br/>
      Blog giving some background. Link TBD
    </div>
  </div>