<h1>Welcome to the Croatian Run Restaurants of Los Angeles Site</h1>

List of <%= link_to 'Addresses', controller: 'addresses' %>. And from this page can add other addresses.
<br/>
List of <%= link_to 'People', controller: 'people' %>.