<h1>Welcome to the Croatian Run Restaurants of Los Angeles Site</h1>

List of <%= link_to 'Addresses', controller: 'addresses' %>. And from this page can add other addresses
<br/><br/>
List of <%= link_to 'People', controller: 'people' %>
<br/><br/>
List of <%= link_to 'References, Sources, and Inspirations', controller: 'acknowledgements' %>
<br/><br/>
Blog giving some background. Link TBD